---
import Lune from '@/components/ui/lune.astro';

interface Props {
  title: string;
  description: string;
  image: string;
}

const { title, description, image } = Astro.props as Props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='keywords' content='CNEL, Corte Nacional de la Luz, Outage Schedule' />
    <meta name='author' content='Savecoders' />
    <meta name='image' content={image} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/outgates.svg' />
    <meta name='generator' content={Astro.generator} />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:image' content={image} />
    <meta property='og:site_name' content='cnel-outage-schedule' />
    <title>{title}</title>
  </head>
  <body>
    <Lune />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
</style>
